*{
  font-family: comfortaa;
}
body{
  margin: 0px;
  background: url("../img/images2.jpeg");
  padding: 0px;
overflow-y:hidden;
}
div.contenedor{
width: 100%;
text-align: center;
}
#scro {
	overflow:scroll;
	height:200px;
	max-width:1070px;
}
#myDiv{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div.txt{
  color: white;
  width: 100%;
  max-width: 265px;
  background: rgba(51,51,51,.3);
  height: 60px;
  border-bottom: solid 2px red;
  margin: 1px;
  font-size: 12px;
}
#TT{
  width: 256px;
  height: 25px;
  margin: 1px;
}
.TT{
  width: 256px;
  height: 25px;
  margin: 1px;
}
#ok{
  margin-top: 10px;
  cursor: pointer;
  border:solid 1px white;
  color: white;
  font-size: 15px;
  background: rgba(0, 100, 0, 0.4);
  width: 100px;
  height: 40px;
  transition: all .1s;
}
#ok:hover{
  background: rgba(0, 200, 0, 0.2);
}
.thumb{
  width: 200px;
  height: 200px;
}
.txt1{
  width: 255px;
  height: 265px;
  border:dashed 1px white;
}
.txt1 .imag{
  width: 200px;
  height: 200px;
  background: lavender;
  margin: auto;
}
.fondotxt{
  color:rgb(224,255,255);;
}
#ft{
 background: rgba(51, 51, 51, 0.7);
 padding: 0px;
  margin: 0px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height:7%;
}
#piepagina{
  padding: 5px;
  margin-right: 2px;
  height: auto;
  text-align: right;
  color: white;
  width: 45%;
  font-size:11px;
}
#masi{
  padding: 5px;
  margin-left: 2px;
  height: auto;
  text-align: left;
  color: white;
  width: 45%;
  font-size:11px;
}

iframe {
    display: block;       /* iframes are inline by default */
   
    border: none;         /* Reset default border */
    height: 95%;        /* Viewport-relative units */
    width: 100%;
overflow-y:hidden;
}
#logos{
 position: fixed;
    width: 100%;
    height: 10%;
    left: 0;
    top: 7%;
   // background: rgba(51,51,51,0.7);
    z-index: 10;
  background: rgba(34,139,34,.6);
  color: white;
}

#left img {
  float: left;
  width: 100px;
  height: 80px;
 margin-left: 15px;
 // border: 1px solid red;
}

#right img{
  float: right;
  width: 100px;
  height: 80px;
 margin-right: 15px;
//  border: 1px solid blue;
}

#center {
  margin-left: 50px;
  margin-right: 50px;
//  border: 1px solid green;
  text-align: center;
}

#principal{
  position: fixed;
    width: 100%;
    height: 75%;
    left: 0;
    top: 17%;
   // background: rgba(51,51,51,0.7);
    z-index: 10;
 background: rgba(250, 250, 251, 0.6);
  color: white;
 
}
@media(min-width:480px){
#principal{
  min-height: 500px;
}
}
hr{
  border: solid 1px lavender;
}
#titulo{
  padding: 0px;
  margin: 0px;
}
h3,h4{
  padding: 0px;
  margin: 0px;
}
.muestras{
  border: dashed 2px white;
  width: 275px;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    //background-color: rgb(0,0,0); /* Fallback color */
  //background: url("../img/images2.jpeg");

    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
   //background: rgba(132, 197, 237,.6);
    background: url("../img/images2.jpeg");

	margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 95%; /* Could be more or less, depending on screen size */
}
.modal-contentcita {
   /*background: rgba(132, 197, 237,.6);*/
    background: url("../img/images2.jpeg");
	
	margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}
.modal-content2 {
   background: rgba(204, 232, 249, 0.6);
	margin: .5% auto; /* 15% from the top and centered */
    padding: 1px;
    border-radius: 15px;
    border: 1px solid #888;
    width: 99%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #f50a0a;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #f30505;
    text-decoration: none;
    cursor: pointer;
}